<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="../assets/css/particles.css" /> -->
		<noscript><link rel="stylesheet" href="../assets/css/noscript.css" /></noscript>
    <!-- <script src="../assets/js/particles.min.js"></script> -->
    <!-- <script src="../assets/js/particles.js"></script> -->
	</head>
<body class="is-preload">
  <nav class="menu-navigation-round" id="myNavbar">
    <a href="#" class="navbar-button style2 ">Home</a>
    <a href="" class="navbar-button style2">About us</a>
    <a href="#" class="navbar-button style2">Events</a>
    <a href="#" class="navbar-button style2">Gallery</a>
    <a href="#" class="navbar-button style2">Reach us</a>
    <a href="javascript:void(0);" class="menu-bar" onclick="navbar_Res()">
   <i class="fa fa-bars"></i>
 </a>
</nav>
