<%- include('layouts/header') %>



<div id="particles-js"></div> <!-- stats - count particles -->


		<!-- Header -->
			<section id="header">
				<header>
					<h1>GANTAVYA <h3>2K18</h3></h1>
					<p>in <span>SRMGPC</span></p>
				</header>
				<footer>
					<a href="#banner" class="button style2 scrolly-middle">Participate</a>
				</footer>
			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>GANTAVYA SRMGPC 2K18</h2>
				</header>
				<p>SRMGPC is conducting a Techno- Management Fest title as 'Gantavya'. 'Gantavya' means 'DESTINATION', and
                    here we mean a destination from where a new journey of making an edge in your career will start.
                    'Gantavya' is an opportunity to test and to prove ones skills.
                    The event will be a platform to reveal
                    their hidden technical talent.</p>
				<footer>
					<a href="#first" class="button style2 scrolly">Read More</a>
				</footer>
			</section>

		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a href="#" class="image fit"><img src="images/pic01.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Mission</h2>
					</header>
					<p>The mission of 'Gantavya' is to encourage one for becoming autonomous learners, as we all know that the onus of skill development is shifting from organization to individuals. </p>
				</div>
			</article>


		<!-- Feature 2 -->
			<article class="container box style1 left">
				<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h2>Aim</h2>
                    </header>
					<p>'Gantavya' aims to make students become effective and enhance their skills in a playful environment so that they can become future leader and responsible citizen of this highly independent world.</p>
				</div>
			</article>

		<!-- Portfolio -->
			<article class="container box style2">
				<header>
					<h2>Events</h2>
					<p></p>
				</header>
				<div class="inner gallery">
					<div class="row gtr-0">
						<div class="col-3 col-12-mobile b"><a href="images/fulls/01.jpg" class="image fit"><img src="images/thumbs/01.jpg" alt="" title="" /></a><button class="small">cs</button></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/02.jpg" class="image fit"><img src="images/thumbs/02.jpg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/03.jpg" class="image fit"><img src="images/thumbs/03.jpg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/04.jpg" alt="" title="" /></a></div>
					</div>
					<div class="row gtr-0">
						<div class="col-3 col-12-mobile"><a href="images/fulls/05.jpg" class="image fit"><img src="images/thumbs/05.jpg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/06.jpg" class="image fit"><img src="images/thumbs/06.jpg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/07.jpg" class="image fit"><img src="images/thumbs/07.jpg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/08.jpg" class="image fit"><img src="images/thumbs/08.jpg" alt="" title="" /></a></div>
					</div>
				</div>
			</article>
        <article class="container box style2">
				<header>

				</header>
				<div class="inner gallery">
					<div class="row gtr-0">
						<div class="col-3 col-12-mobile b"><a href="images/poster/poster1.jpeg" class="image fit"><img src="images/poster/poster1.jpeg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/poster/poster2.jpeg" class="image fit"><img src="images/poster/poster2.jpeg" alt="" title="" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/poster/poster3.jpeg" class="image fit"><img src="images/poster/poster3.jpeg" alt="" title="Raven" /></a></div>
						<div class="col-3 col-12-mobile"><a href="images/fulls/04.jpg" class="image fit"><img src="images/thumbs/04.jpg" alt="" title="" /></a></div>
					</div>

				</div>
			</article>
      <section id="footer">
			<ul class="icons">
				<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
				<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
<!--				<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>-->
				<li><a href="#" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li>&copy;  All rights reserved.</li><li>Design:<a href="http://rakeshchauhan.co">Rakesh Chauhan</a></li>
				</ul>
			</div>
		</section>

<%- include('layouts/footer') %>
