<%- include('./../layouts_coordinator/admin') %>

<div class="col-md-12">
         <!-- general form elements -->
         <div class="box box-primary">
           <div class="box-header with-border">
             <h3 class="box-title">Add Student</h3>
           </div>
           <!-- /.box-header -->
           <!-- form start -->
           <div class="col-md-2">

           </div>
           <div class="col-md-8">
             <form  action="/admin/student/add" method="post">
               <div class="box-body">
                 <div class="form-group">
                   <label for="">Name</label>
                   <input type="text" class="form-control" name="studentName" placeholder="Enter Name">
                 </div>
                 <div class="form-group">
                <label>Branch</label>
                <select class="form-control select2" name="branch" style="width: 100%;">
                   <option selected="selected">Select</option>
                  <option >CSE</option>
                  <option>IT</option>
                  <option>ME</option>
                  <option>CE</option>
                  <option>EC</option>
                  <option>EN</option>
                  <option>EE</option>
                </select>
              </div>
                 <div class="form-group">
                   <label for="">Year</label>
                   <input type="number" class="form-control" name="year" placeholder="Year">
                 </div>
                 <div class="form-group">
                   <label>Gender</label>
                   <select class="form-control select2" name="gender" style="width: 100%;">
                     <option selected="selected">Select</option>
                     <option>Male</option>
                     <option>Female</option>

                   </select>
                 </div>
                 <div class="form-group">
                   <label for="">College</label>
                   <input type="text" class="form-control" name="college" placeholder="College">
                 </div>
                 <div class="form-group">
                   <label for="">Contact No.</label>
                   <input type="number" class="form-control" name="ContactNo" placeholder="Mobile Number">
                 </div>
                 <div class="form-group">
                   <label for="">Roll No.</label>
                   <input type="number" class="form-control" name="Roll_no" placeholder="Roll No or College Id">
                 </div>
                 <div class="form-group">
                   <label for="">Address</label>
                   <input type="number" class="form-control" name="Address" placeholder="Address">
                 </div>
                 <div class="form-group">
                   <label for="">Email address</label>
                   <input type="email" class="form-control" name="email" placeholder="Email">
                 </div>
                 <div class="form-group">
                   <label for="">Password</label>
                   <input type="password" class="form-control" name="password" placeholder="Password">
                 </div>

                           <div class="box-footer">
                 <button type="submit" class="btn btn-primary">Submit</button>
               </div>
             </form>
           </div>

           <div class="col-md-2">

           </div>
         </div>
</div>
<%- include('./../layouts_coordinator/footer') %>
