<html>
  <head>

  <link rel="stylesheet" href="../stylesheets/admin_login.css" />

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

  </head>
<body id="">
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active"> Sign Up </h2>
      <!-- <ul>
        <%if( !(typeof(errors) =="undefined")){%>

        <% errors.foreach(function(errors){ %>
        <li class= "alert alert-danger">  <%=errors.msg%> </li>
       <% }) %>
<%}%>
      </ul> -->

      <!-- Icon -->

      <!-- Login Form -->
      <form method="post" action="">
        <input type="text" id="login" class="" name="name" placeholder="Name" >
        <input type="text" id="password" class="" name="email" placeholder="Email" >
        <input type="text" id="login" class="" name="colllege_id" placeholder="College_Id">
        <input type="password" id="password" class="" name="password" placeholder="password">
        <input type="password" id="password" class="" name="password2" placeholder="password">
        <button  class="" >Sign Up</button>
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <p>Already signUp</p>
        <a class="underlineHove" href="/auth/login">Login</a>
      </div>

    </div>
  </div>
</body>
</html>
